#Box1{
    height: 800px;
    width: 800px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Box{
    height: 400px;
    width: 400px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 #supermain{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 
#A{
    height: 200px;
    width: 200px;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
